.button {
  min-width: 96px;
  min-height: 40px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.normal {
  background: #F78F1E;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
}

.button.normal:hover {
  background: #E86809;
}

.button.normal:focus {
  background: #E86809;
}

.button.normal:active {
  background: #D95700;
}

.button.normal:disabled {
  background: #B7BEC7;
}

.button.default {
  background: transparent;
  color: #0E1829;
  cursor: pointer;
  border: 1px solid #6B737D;
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
}

.button.default:hover {
  border-color: #0E1829;
}

.button.default:focus {
  border-color: #0E1829;
}

.button.default:active {
  border-color: #0E1829;
}

.button.default:disabled {
  color: #B7BEC7;
  border-color: #B7BEC7;
}